  body, html {
    height: 100%;
    font-family: 'Inconsolata', 'Montserrat', sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("images/header-img.jpeg");
    min-height: 75%;
    max-width:1600px;
    min-width:50px;
  }
  
  .bg {

    background-image: url("images/header-img.jpeg");
  

    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75%;
    max-width:1600px;
    min-width:50px;
  }

  /* .size{
      max-width: 1600px;
      min-width: 550px;
  } */
  /* header */
  
  
  /* header {
    max-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5));
    
  } */
  
  /* navbar */
  .nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    padding: 2px;         /* 25px */
    transition: all .7s;
  }
  
  .menu-item {
    font-size: 13.5px;       /* 13.px */
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
  }
  
  .menu-item:hover {
    color: #70aed2;
  }
  
  .nav-active {
    color: #70aed2;
  }
  
  .line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
  }
  
  .change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change .line2 {
    opacity: 0;
  }
  
  .change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .custom-navbar {
    padding: 2px 2px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
  }
  /* end of navbar */
  
  /* banner */
  .banner {
    position: absolute;
    top: 65%;               /* 50 % */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  
  .banner-heading {
    animation-name: anim;
    animation-duration: 2s;
  }
  
  .banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* end of banner */
  
  /* end of header */
  
  /* mission */
  .mission {
    background: #951E0B;       /* 151f20 ; 732A09 ;  B43803*/
  }
  
  .underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
  }
  
  .fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
  }
  
  .fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
  }
  
  @keyframes fromLeft {
    0% {
      transform: translateX(-120px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fromRight {
    0% {
      transform: translateX(30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* end of mission */
  
  /* collection */
  .card-shadow {
    box-shadow: 5px 8px 20px #444;
  }
  
  .heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 15px;
    letter-spacing: 1px;
    background: #B43803;    /*222 */
    width: 70%;             /*70 % */
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
  }
  
  .heading:hover {
    opacity: 1;
  }
  /* end of collection */
  
  /* gallery */
  .underline-dark {
    width: 150px;
    border: 3px solid #888;
    margin: auto;
  }
  
  .gallery-list-item {
    color: #777;    /* 777 */
    cursor: pointer;
    user-select: none;
  }
  
  .active-item {
    color: #951E0B;    /* 70aed2 */
  }
  /* end of gallery */
  
  /* customers */
  .customers {
    background: #951E0B;    /* 151f20 */
  }
  /* end of customers */
  
  /* pricing */
  .card-1, .card-2, .card-3 {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url(images/pricing-card-bg.jpeg) center no-repeat /cover;
    box-shadow: 7px 18px 50px #555;
    max-width: 400px;
  }
  
  .card-list-item {
    border-bottom: 1px groove #eee;
    width: 55%;
    margin: auto;
  }
  
  .price-card-button {
    background: #f5593d;
    width: 130px;
    border-radius: 25px;
    box-shadow: 5px 8px 18px #000;
    transition: all .2s;
  }
  
  .price-card-button:hover {
    background: #f9793d;
    transform: translateY(-2px);
  }
  
  .moveFromLeft {
    animation-name: moveFromLeft;
    animation-duration: 2s;
  }
  .moveFromRight {
    animation-name: moveFromRight;
    animation-duration: 2s;
  }
  .moveFromBottom {
    animation-name: moveFromBottom;
    animation-duration: 2s;
  }
  
  @keyframes moveFromLeft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes moveFromRight {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes moveFromBottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /*  end of pricing */
  
  /* contact */
  .contact {
    background: linear-gradient(105deg,
     rgba(21, 31, 32, 1) 0%,
     rgba(21, 31, 32, .95) 50%,
     transparent 50%),
     url(images/form-img.jpeg) center center no-repeat /cover;
  }
  
  .input {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: all .8s;
  }
  
  .input:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #f5593d;
  }
  
  .submit-button {
    background: #f5593d;
    color: #eee;
    transition: all .3s;
  }
  
  .submit-button:hover {
    background: #f9793d;
    transform: translateY(-3px);
  }
  
  .label {
    color: #777;
    display: block;
    margin-top: -70px;
    margin-left: 4px;
    font-size: 13px;
    transition: all .3s;
  }
  
  .input:placeholder-shown + .label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
  }
  
  @media (max-width: 992px) {
    .contact {
      background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, .95));
    }
  
    .contact-form {
      width: 80%;
      margin: auto;
    }
  }
  /* end of contact */
  
  /* footer */
  .footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
  }
  
  .footer-link:hover {
    color: #70aed2;
    text-decoration: none;
  }
  /* end of footer */
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline {
    font: normal 16px/1.5 "Open Sans", sans-serif;
    background: #1B9AAA;
    overflow-x: hidden;
    padding-bottom: 50px;
  }
  .timeline ul {
    background: #1B9AAA;
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #E86361;
  }
  
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #E86361 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #E86361;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #E86361;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  

  .blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

blockquote p::before {
  font-family: FontAwesome;
  padding-right: 2px;
  font-size: 180px;
  padding-bottom: 2px;
 }

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}

.swami_quotes{
  color:white;
  background-color: orange;
}
.img_right{
  float: right;
  margin-left: 20px;
  margin-right:0;
}

  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {

    /* .bg {

      background-image: url("images/header-img.jpeg");
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-width:600px;
      min-width:10px;
    } */
  
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #E86361 transparent transparent;
    }
  }
  /* timeline end */  


  body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }